In [2]:
#Math expressions: Familiar operators

print(2 + 2)

4

In [7]:
a = 25
b = 10

print(a + b)
print(a - b)
print(a * b)
print(a / b)

35
15
250
2.5

In [6]:
#Update Variable
saylani = "online"
saylani = "academy"

print(saylani)

academy

In [8]:
#Add in C Variable
a = 25
b = 10

c = a + b

print(c)

35

In [47]:
#Module Operator
x = 11
y = 3

print(x % y)

2

In [21]:
#Increment
num = 5

num += 3

print(num)

8

In [18]:
#Decrement

num = 5

num -= 2

print(num)

3

In [19]:
#Multiply
num = 5

num *= 2

print(num)

10

In [20]:
#Divide
num = 5

num /= 2

print(num)

2.5

In [25]:
#Eliminating Ambiguity
num2 = ((1 + 3) * 4) * 5 - 2


print(num2)

78

In [29]:
#Concatenate

first_name = "Zunaib"
last_name = "Afzal"
sp = " "

full_name = first_name + sp + last_name

print(full_name)

Zunaib Afzal

In [51]:
#Chapter 8

first_name = "Zunaib"

last_name = "Afzal"

sp = " "

full_name = first_name+sp+last_name

print(full_name)

Zunaib Afzal

In [40]:
first_name = "Bilal"
num3 = 50

print(first_name + num3)

TypeError: can only concatenate str (not "int") to str

In [7]:
#if Statement

city = "Karachi"


if city == "Karachi":
    print("You are Right")
else:
    print("You are wrong")

You are Right

In [9]:
#Compare in Numbers

if 35 + 50 == 75:
    print("Right answer")
else:
    print("Wrong answer")

Wrong answer

In [11]:
#Compare in String

first_name = "Zunaib"
last_name = "Afzal"
sp = " "

full_name = first_name + sp + last_name

if full_name == "Zunaib Afzal":
    
    print("Yes Right Name")

else:
    print("Wrong Name")

Wrong Name

In [14]:
#Not Equal To

first_name = "Zunaib"
last_name = "Afzal"
sp = "_"

full_name = first_name + sp + last_name

if full_name != "Bilal":
    
    print("Yes Right Name")

else:
    print("Wrong Name")

Yes Right Name

In [31]:
#if statements
#Less than, greater than 

if 25 <= 25:
    print("Right Answer")
else:
    print("Wrong Answer")

Right Answer

In [39]:
#elif statements
#input function

city = input("Write Your City Name: ")

if city == "Karachi":    
    print("Karachi is Right Answer")    
elif city == "Islamabad":    
    print("Islamabad is Right Answer")
elif city == "Multan":    
    print("Multan is Right Answer")
elif city == "Lahore":    
    print("Lahore is Right Answer")    
else:
    print("Wrong Answer")

Write Your City Name: Islamabad
Islamabad is Right Answer

In [43]:
a = 25
b = 15

x = 5
y = 10

if x + y == a - b:
    print("True")
else:
    print("False")

False

In [44]:
#elif statements
#input function

city = input("Write Your City Name: ")


if city == "Karachi":  
    
    print("Karachi is Right Answer")    
    
elif city == "Islamabad":    
    
    print("Islamabad is Right Answer")
    
elif city == "Multan":    
    
    print("Multan is Right Answer")
    
elif city == "Lahore":   
    
    print("Lahore is Right Answer")   
    
else:    
    print("Wrong Answer")

Write Your City Name: Lahore
Lahore is Right Answer

In [50]:
age = 10

age += 50

print(age)

60