In [7]:
print("Saylani \n\tMass \n\t\tIT \n\t\t\tTraining")

Saylani
	Mass
		IT
			Training

In [22]:
a = int(input("1st Num: "))
b = int(input("2nd Num: "))

print(a + b)

type(a)
type(b)

1st Num: 5
2nd Num: 7
12

int

In [25]:
num1 = 5
num2 = 10
op = "*"


if op == "+":
    print(num1 + num2)
else:
    print("Wroge Operator")

Wroge Operator

In [29]:
#AND Operator

first_name = "Zunaib"
last_name = "Afzal"

if first_name == "Zunaib" and last_name == "Afzal":
    print("Right Name")
else:
    print("Wrong Name")

Right Name

In [44]:
#OR Operator

first_name = "M"
mid_name = "Bilal"
last_name = "Afzal"

if (first_name == "M" or mid_name == "Bilal") and last_name == "Ahmed":
    print("Right Name")
else:
    print("Wrong Name")

Wrong Name

In [46]:
#OR Operator
#AND Operator

first_name = "M"
mid_name = "Bilal"
last_name = "Afzal"

if first_name == "M" or (mid_name == "Bilal" and last_name == "Ahmed"):
    print("Right Name")
else:
    print("Wrong Name")

Right Name

In [8]:
#If Statement Nested

first_name = "Zunaib"
last_name = "Afzal"

if first_name == "Zunaib":
    
    if last_name == "Ahmed":
        print("Right Name")
    else:
        print("Wrong Name Inner IF")  
        
else:
    print("Wrong Name outer IF")

Wrong Name Inner IF

In [24]:
students = ['Bilal','Zunaib','Ahmed','Afzal']


print("Welcome to " + students[1])

Welcome to Zunaib

In [22]:
mix_values = ['Bilal','Zunaib','Ahmed','Afzal', 20, 50]

print(mix_values[4])
type(mix_values)

20

list

In [ ]:
print("Saylani Mass IT Training")