In [3]:
#Wrong Way
a = "Saylani Mass IT Training"
b = "\n "
c = "\t"

print(a +  + a + "\n" + a + "\n" +a + "\n")

Saylani Mass IT Training
Saylani Mass IT Training
Saylani Mass IT Training
Saylani Mass IT Training

In [ ]:
#Task-01) 
#Print the following string in a specific format (see the output in attached file).
#        i) Using Single Print Function.

In [5]:
print("Saylani Mass IT Training \t Saylani Mass IT Training \n Saylani Mass IT Training \t Saylani Mass IT Training" )

Saylani Mass IT Training 	 Saylani Mass IT Training
 Saylani Mass IT Training 	 Saylani Mass IT Training

In [8]:
#Wrong Way

a = int(input("First Value: "))
b = int(input("First Value: "))
op1 = "+"
op2 = "-"


print(a + b)
print(a - b)
print(a / b)
print(a * b)

First Value: 25
First Value: 10
35
15
2.5
250

In [15]:
#Right Way

num1 = int(input("First Value: "))
num2 = int(input("Second Value: "))
op = input("Write Operator: ")

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "/":
    print(num1 / num2)
elif op == "*":
    print(num1 * num2)
else:
    print("Wrong Operator")

First Value: zunaib

ValueError: invalid literal for int() with base 10: 'zunaib'

In [22]:
students = [25, 50, 60, "Zunaib", "Abdullah"]

print(students[0], students[1], students[3])

25 50 Zunaib

In [24]:
students = [25, 50, 60, "Zunaib", "Abdullah"]

students.append("Ayaan")

print(students)

[25, 50, 60, 'Zunaib', 'Abdullah', 'Ayaan']

In [27]:
students = ["Zunaib", "Abdullah", "Ayaan"]

students.append("Bilal")

print(students[0], students[3])

Zunaib Bilal

In [28]:
students = ["Zunaib", "Abdullah", "Ayaan"]

students.append(200)

print(students[0], students[3])

Zunaib 200

In [31]:
students = ["Zunaib", "Abdullah", "Ayaan"]

students[1] = "Bilal"

print(students[1])

Bilal

In [32]:
students = ["Zunaib", "Abdullah", "Ayaan"]

students = students + ["Bilal", "Amna"]

print(students)

['Zunaib', 'Abdullah', 'Ayaan', 'Bilal', 'Amna']

In [36]:
school = []

school = students

print(school)

['Zunaib', 'Abdullah', 'Ayaan', 'Bilal', 'Amna']

In [43]:
students = ["Zunaib", "Abdullah", "Ayaan"]

students.insert(2       , "Zunaib")

print(students)

['Zunaib', 'Abdullah', 'Zunaib', 'Ayaan']

In [46]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal", "Amna"]

newstudents = students + ["Bilal", "Amna"]

print(newstudents)

['Zunaib', 'Abdullah', 'Ayaan', 'Bilal', 'Amna']

In [63]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal", "Amna", "Rehan"]

newstu = students[1:4]
newstu2 = students[4:6]

print(newstu, newstu2)

['Abdullah', 'Ayaan', 'Bilal'] ['Amna', 'Rehan']

In [65]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal", "Amna", "Rehan"]

newstu = students[2:]

print(newstu)

['Ayaan', 'Bilal', 'Amna', 'Rehan']

In [70]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

newlist = students[1:]

print(newlist)

['Abdullah', 'Ayaan', 'Bilal']

In [74]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

students.append("Adil")

newlist = students[1:]

print(newlist)

['Abdullah', 'Ayaan', 'Bilal', 'Adil']

In [1]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

newlist1 = students[0]
newlist2 = students[2:]

print(newlist1, newlist2)

Zunaib ['Ayaan', 'Bilal']

In [15]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

students.remove("Ayaan")

print(students)

['Zunaib', 'Abdullah', 'Bilal']

In [11]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

del students[2]

print(students)

['Zunaib', 'Abdullah', 'Bilal']

In [14]:
students = ["Zunaib", "Abdullah", "Ayaan", "Bilal"]

newstudents = students.pop(1)

print(newstudents)
print(students)

Abdullah
['Zunaib', 'Ayaan', 'Bilal']

In [20]:
students = ("Zunaib", "Abdullah", "Ayaan", "Bilal")

print(students[1])

Abdullah