In [ ]:
a = input("Write Your name: ")
b = input("Write your class: ")

print(a)
print(b)

In [2]:
a = 2
b = 3

c = a + b

print(c)

5

In [ ]:
print()
input()
int()
range()

In [9]:
#Functions

def add_num(a,b):    
    c = (a + b)
    print(c)


def sub_num(a,b):    
    c = (a - b)
    print(c)


def mul_num(a,b):    
    c = (a * b)
    print(c)

    
add_num(15, 45)

sub_num(50, 25)

mul_num(2, 10)

-30
25
20

In [10]:
a = 2
b = 3

c = a + b

print(c)

5

In [11]:
a = 50
b = 25

c = a + b

print(c)

75

In [12]:
a = 200
b = 30

c = a - b

print(c)

170

In [16]:
def add(a, b):
    c = (a + b)
    print(c)

add(25, 50)

75

In [17]:
add(20, 17)

37

In [19]:
def full_name(first, last):
    
    fullName = first + " " + last
    print(fullName)

    
full_name("Zunaib", "Afzal")

Zunaib Afzal

In [20]:
full_name("Abdullah", "XI,A")

Abdullah XI,A

In [22]:
full_name()

TypeError: full_name() missing 2 required positional arguments: 'first' and 'last'

In [26]:
def full_name(first_name, last_name):
    
    fullName = first_name + " " + last_name
    
    print(fullName)
    
    
full_name("Bilal", "Ahmed")

Bilal Ahmed

In [27]:
full_name("Amna", "Shahzad")

Amna Shahzad

In [40]:
def full_name(first_name, mid_name, last_name):
    
    fullName = first_name + " " + mid_name + " " + last_name
    
    print(fullName)
    
    
full_name(mid_name = "M", last_name = "Bial", first_name = "Ahmed")

Ahmed M Bial

In [41]:
def full_name(first_name, last_name):
    
    fullName = first_name + " " + last_name
    
    print(fullName)
    
    
full_name(last_name = "Zunaib", first_name = "Afzal")

Ahmed Bial

In [77]:
def calc_tax(sales_total, tax_rate = .04):
    
    print(sales_total * tax_rate)
        

calc_tax(35000)

1400.0

In [57]:
def full_name(first_name, last_name, welcome = "Welcome: "):
    
    fullName = welcome + first_name + " " + last_name
    
    print(fullName)
    
    
full_name("Zunaib", "Afzal")

Welcome: Zunaib Afzal

In [66]:

def add(d, e):
    
    f = (d + e)
    
    print(f)

    
    
add(14, 16)

print(d)
print(e)

30

NameError: name 'd' is not defined

In [75]:
a = input("Write You Name: ")

if a.lower() == "zunaib" or a.lower() == "bilal":
    print("Correct")
else:
    print("Wrong")

Write You Name: BILAL
Correct

In [81]:
type(x)

int