In [14]:
#For Loop

students = ["Zunaib", "Bilal", "Ali", "Moiz", "Umer", "Kashaf"]

for i in students: 
    print("Welcome to: " + i)

Welcome to: Zunaib
Welcome to: Bilal
Welcome to: Ali
Welcome to: Moiz
Welcome to: Umer
Welcome to: Kashaf

In [17]:
first_name = ["Muhammad", "Ahmed", "Raza"]
last_name = [ "Zunaib", "Bilal", "Ali"]
full_name = []

for first in first_name:
    for last in last_name:
        full_name.append(first + " " + last)

print(full_name)

['Muhammad Zunaib', 'Muhammad Bilal', 'Muhammad Ali', 'Ahmed Zunaib', 'Ahmed Bilal', 'Ahmed Ali', 'Raza Zunaib', 'Raza Bilal', 'Raza Ali']

In [38]:
b = 12

for a in range(1, 11):
    print(str(b) + " x " + str(a) + " = " + str(a*b))

b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b
b x a = a*b

In [ ]:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6

In [30]:
print("zunaib" + str(500))

zunaib500

In [47]:
students = ["Zunaib", "Bilal", "Ali", "Moiz", "Umer", "Kashaf"]

for i in students: 
    print("Welcome to: " + i)
    if i == "Ali":
        print("Wrong Name")

Welcome to: Zunaib
Welcome to: Bilal
Welcome to: Ali
Wrong Name
Welcome to: Moiz
Welcome to: Umer
Welcome to: Kashaf

In [51]:
a = input("First Name: ")
b = input("Last Name: ")

print(a + " " + b)

First Name: Zunaib
Last Name: Afzal
Zunaib Afzal

In [4]:
a = int(input("First Number: "))
b = int(input("Second Number: "))

print(a + b)
type(a)

First Number: 50
Second Number: 40
90

int

In [7]:
print("zunaib" + str(500))

zunaib500

In [22]:
#Changing Case

name = "ZuNaiB"

#Lower Case #Small Letters
print(name.lower())

#Upper Case #Capital Letters
print(name.upper())

#Propper #Title
print(name.title())

zunaib
ZUNAIB
Zunaib

In [19]:
name = input("Write Your Name: ")

if name.title() == "Zunaib":
    print("Right Name")
else:
    print("Wrong Name")

Write Your Name: zunaib
Right Name